/**
*
* Button Styling
*
*/

.zola-standard_button {
	color: $off-black;
	background-color: rgba(0,0,0,0.1);

	height: 36px;
	line-height: 36px;
	font-weight:700;

	display: inline-block;
	border: none;
	padding: 0 1rem;
	vertical-align: middle;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.5px;
	cursor: pointer;

	@include transition(0.2s, all);
	@include box-shadow(0, 3px, 1px, -2px, rgba(0,0,0,0.2));

	&.relative{
		position:relative;
		margin:0;
	}

	&:active{
		top:1px;
	}

	&.transparent{
		background:transparent;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}